.header{
    height: 50px;
    background-color: black;
    line-height: 100px;
    text-align: center;
    color: lightgray;
}
.footer{
    height: 50px;
    background-color: black;
    color: white;

}
.common{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
div{
    text-align: right;
    color: black;
}
header.masthead {
    position: relative;
    margin-bottom: 3rem;
    padding-top: calc(8rem + 57px);
    padding-bottom: 8rem;
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
  }
  h2{
    text-align: center;
    color: rgb(52, 141, 214);
    border: 5px solid black;
    padding: 10px;;
    margin: 20px;
}
h1{
    color: rgb(52, 141, 214);
    text-decoration: underline;
}
body{
    background-color: whitesmoke;
}